<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="RegDatabaseConnectionString" connectionString="workstation id=RegDatabase1.mssql.somee.com;packet size=4096;user id=fasil_SQLLogin_1;pwd=hzc273mbhi;data source=RegDatabase1.mssql.somee.com;persist security info=False;initial catalog=RegDatabase1"
   providerName="System.Data.SqlClient" />
  <add name="ConnectionString" connectionString="workstation id=RegDatabase1.mssql.somee.com;packet size=4096;user id=fasil_SQLLogin_1;pwd=hzc273mbhi;data source=RegDatabase1.mssql.somee.com;persist security info=False;initial catalog=RegDatabase1"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
